*{
    margin: 0;
    padding: 0;
}
body{
    background: ghostwhite;
    font-family: Arial, Helvetica,sans-serif;
    font-size: 12px;
    margin: 20px;
}
main{
    margin: auto;
    width: 800px;
}
header{
    width: 800px;
    background: #a2a2a2;
    margin: auto;
    border-radius: 15px;
}
#header{
    width: 96%;
    padding: 2%;
    text-align: center;
    color: rebeccapurple;
    font-size: 18px;
}
article{
    display: inline-block;
    width: 181px;
    margin: 8px;
    background: lightgray;
    border-radius: 15px;
}
div{
    background: rebeccapurple;
    border-radius: 100%;
    padding: 75px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    font-size: 22px;
}
p{
    text-align: center;
    margin: 30px 0 15px 0;
}
button{
    display: flex;
    justify-content: center;
    font-size: 14px;
    background: gray;
    border-radius: 10px;
    margin: 9px;
    padding: 10px 17px;
    width: 160px;
}
article:hover{
    cursor: pointer;
}
article:hover button{
    cursor: pointer;
}
div:hover{
    background: white;
    color: rebeccapurple;
}
button:hover{
    background: white;
}